* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.hero-header {
    display: flex;
    padding-top: 15px;
    background-color: #1F2937;
    padding: 25px 300px;
}

.logo-text {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    flex: 1;
}

.header-links {
    display: flex;
    column-gap: 25px;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}

.header-links a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.hero-box {
    display: flex;
    padding: 100px 300px 150px 300px;
    background-color: #1F2937;
    column-gap: 25px;
}

.hero-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    padding: 8px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3882F6;
    border-style: none;
    border-radius: 8px;
}

.hero-img {
    margin-left: 200px;
    width: 550px;
    height: auto;
}

.info-box {
    margin: 50px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;

}

.card-box {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    width: 205px;
    height: auto;
}

.info-card {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 18px;
    font-weight: 400;
    color: hsl(0, 0%, 45%);
    text-align: center;
}

.info-card img {
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

.testimonial-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 100px 400px;
}

.testimonial-quote {
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
}

.testimonial-name {
    text-align: right;
    font-size: 24px;
    font-weight: 900;
    color: #1F2937;
}

.act-now-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 300px;
    padding: 50px 100px;
    border-radius: 10px;
    background-color: #3882F6;
}

.act-now-text {
    display: flex;
    flex-direction: column;
}

.act-now-header {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.act-now-subtext {
    color: hsl(0, 0%, 85%);
    font-size: 18px;
}

.act-now-box .button {
    border: 2px solid white;
}

.footer {
    padding: 35px;
    text-align: center;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
}